{% extends "base.html" %}
{% block title %}Компенсация ГСМ{% endblock %}
{% block content %}

<a href="{% url "points:fuelcompensations_add" %}">Добавить/изменить</a>

<div >
  <table style="table-layout: fixed; width: 100%;" border="1" cellspacing="0">
    {% for fuelcompensations in page_obj %}
    {% if forloop.first %}
      {% include 'points/includes/fuelcompensations_title.html' %}
    {% endif %}
    {% include 'points/includes/fuelcompensations.html' %}
    {% endfor %}
  </table>

  {% include 'points/includes/paginator.html' %}
</div>

<a href="{% url "points:fuelcompensations_add" %}">Добавить/изменить</a>

{% endblock %}