 {% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Ремонт</title>
    <style>
        body {
            background-image: url('{% static "coffee.jpg" %}');
        }
    </style>
</head>
<body>
    <div id="main">
        <div id="div_points">
            <p>Точка обслуживания:</p>
            <input class="input input_long" id="point" name="points_name" placeholder="Точка обслуживания" list="points" required >
            <datalist id="points">
            </datalist>
            <div style="color: red;" id="error_point"></div>
        </div>
        <div>
            <div style="padding-bottom: 30px;" id="div_category">
                <p>Катеогрия ремонта</p>
                <select class="input input_long" id="category">
                    <option disabled selected></option>
                    <option value="Категория 1">Категория 1</option>
                    <option value="Категория 2">Категория 2</option>
                    <option value="Категория 3">Категория 3</option>
                </select>
                <div style="color: red;" id="error_category"></div>
            </div>
            <div class="bor cb" id="div_replace">
                <label for="div_replace">Замена:</label>
                <div class="cb">
                    <label style="font-size: 20px; font-weight: 500;" for="replace_machine">
                        <input type="checkbox" id="replace_machine" value="Замена кофемашины">
                        Замена кофемашины
                    </label>
                </div>
                
                <div class="cb">
                    <label style="font-size: 20px; font-weight: 500;" for="replace_cabinet">
                        <input type="checkbox" id="replace_cabinet" value="Замена тумбы">
                        Замена тумбы
                    </label>
                </div>
            </div>
        </div>
        <div style="padding-top: 20px;" id="div_description">
            <p>Описание работ</p>
            <textarea class="input input_long" id="description"  rows="5"></textarea>
            <div style="color: red;" id="error_description"></div>
        </div>
    </div>
    
    <script src="https://telegram.org/js/telegram-web-app.js"></script>

    <script>
        let tg = window.Telegram.WebApp;
        let point = document.getElementById("point")
        let category = document.getElementById("category")
        let description = document.getElementById("description")

        tg.expand();
        tg.MainButton.text = "Завершить ремонт";
        tg.MainButton.show();

        function onstart() {
            var options = '';
            {% for item in data %}
                options += '<option value="' + "{{ item.value }}" + '" />';
            {% endfor %};
            document.getElementById('points').innerHTML = options;
        };

        onstart();

        Telegram.WebApp.onEvent("mainButtonClicked", () => {
            document.getElementById("error_point").innerText = "";
            document.getElementById("error_category").innerText = "";
            document.getElementById("error_description").innerText = "";

            if (point.value == "") {
                document.getElementById("error_point").innerText = "Не выбрана точка";
                return;
            }

            if (category.value == "") {
                document.getElementById("error_category").innerText = "Не выбрана категория";
                return;
            }

            if (description.value == "") {
                document.getElementById("error_description").innerText = "Не внесего описание";
                return;
            }
            var repair = "";

            if (document.getElementById("replace_machine").checked) {
                repair += document.getElementById("replace_machine").value;
            };

            if (document.getElementById("replace_machine").checked && document.getElementById("replace_cabinet").checked) {
                repair += ", "
            }

            if (document.getElementById("replace_cabinet").checked) {
                repair += document.getElementById("replace_cabinet").value;
            };

            let data = {
                type: "repair",
                point: point.value,
                category: category.value,
                repair: repair,
                description: description.value,
            };

            tg.sendData(JSON.stringify(data));
            tg.close();
        });

    </script>
</body>
</html>