{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Обслуживание</title>
    <style>
        body {
            background-image: url('{% static "coffee.jpg" %}');
        }
    </style>

</head>
<body>
    <div id="main">
        <div id="div_points">
            <p>Точка обслуживания:</p>
            <input class="input input_long" id="point" name="points_name" placeholder="Точка обслуживания" list="points" required >
            <datalist id="points">
            </datalist>
            <div style="color: red;" id="error_point"></div>
        </div>

        <div>
            <div class="ib bor" id="div_coffee">
                <p >Кофе</p>
                <input class="input btn" id="coffee_dec" onclick="btn_dec('coffee', 0, 1)" value="-" readonly>
                <input id="coffee" step="1" min="0" max="2" readonly value="0">
                <input class="input btn" id="coffee_inc" onclick="btn_inc('coffee', 2, 1)" value="+" readonly>
                <div style="color: red;" id="error_coffee"></div>
            </div>
            <div class="ib bor" id="div_cream">
                <p>Сливки</p>
                <input class="input btn" id="cream_dec" onclick="btn_dec('cream', 0, 1)" value="-" readonly>
                <input id="cream" step="1" min="0" max="2" readonly value="0">
                <input class="input btn" id="cream_inc" onclick="btn_inc('cream', 2, 1)" value="+" readonly>
                <div style="color: red;" id="error_cream"></div>
            </div>
            <div class="ib bor" id="div_chocolate">
                <p>Шоколад</p>
                <input class="input btn" id="chocolate_dec" onclick="btn_dec('chocolate', 0, 1)" value="-" readonly>
                <input id="chocolate" step="1" min="0" max="2" readonly value="0">
                <input class="input btn" id="chocolate_inc" onclick="btn_inc('chocolate', 2, 1)" value="+" readonly>
                <div style="color: red;" id="error_chocolate"></div>
            </div>
            <div class="ib bor" id="div_raf">
                <p>Раф</p>
                <input class="input btn" id="raf_dec" onclick="btn_dec('raf', 0, 1)" value="-" readonly>
                <input id="raf" step="1" min="0" max="2" readonly  value="0">
                <input class="input btn" id="raf_inc" onclick="btn_inc('raf', 2, 1)" value="+" readonly>
                <div style="color: red;" id="error_raf"></div>
            </div>
            <div class="ib bor" id="div_sugar">
                <p>Сахар</p>
                <input class="input btn" id="sugar_dec" onclick="btn_dec('sugar', 0, 50)" value="-" readonly>
                <input id="sugar" step="50" min="0" max="250" readonly value="0">
                <input class="input btn" id="sugar_inc" onclick="btn_inc('sugar', 250, 50)" value="+" readonly>
                <div style="color: red;" id="error_sugar"></div>
            </div>
        </div>
            <div class="ib bor" id="div_syrup">
                <p>Сироп</p>
                <div class="cb">
                    <label style="font-size: 20px; font-weight: 500;" for="syrup_caramel" id="label_syrup_caramel">
                        <input type="checkbox" id="syrup_caramel" value="Соленая карамель" >
                        Соленая карамель
                    </label>
                </div>
                <div class="cb">
                    <label style="font-size: 20px; font-weight: 500;" for="syrup_nut" id="label_syrup_nut">
                        <input type="checkbox" id="syrup_nut" value="Лесной орех" >
                        Лесной орех
                    </label>
                </div>
                <div class="cb">
                    <label style="font-size: 20px; font-weight: 500;" for="syrup_other" id="label_syrup_other">
                        <input type="checkbox" id="syrup_other" value="Другое" >
                        Другое
                    </label>
                </div>

                <div style="color: red;" id="error_syrup"></div>
            </div>
        <div>
            <div class="ib bor" id="div_glasses">
                <p>Стаканы</p>
                <input class="input btn" id="glasses_dec" onclick="btn_dec('glasses', 0, 50)" value="-" readonly>
                <input id="glasses" step="50" min="0" max="250" readonly value="0">
                <input class="input btn" id="glasses_inc" onclick="btn_inc('glasses', 250, 50)" value="+" readonly>
                <div style="color: red;" id="error_glasses"></div>
            </div>
            <div class="ib bor" id="div_covers">
                <p>Крышки</p>
                <input class="input btn" id="covers_dec" onclick="btn_dec('covers', 0, 100)" value="-" readonly>
                <input id="covers" step="100" min="0" max="100" readonly value="0">
                <input class="input btn" id="covers_inc" onclick="btn_inc('covers', 100, 100)" value="+" readonly>
                <div style="color: red;" id="error_covers"></div>
            </div>
            <div class="ib bor" id="div_stirrer">
                <p>Размешиватели</p>
                <input class="input btn" id="stirrer_dec" onclick="btn_dec('stirrer', 0, 250)" value="-" readonly>
                <input id="stirrer" step="250" min="0" max="500" readonly value="0">
                <input class="input btn" id="stirrer_inc" onclick="btn_inc('stirrer', 500, 250)" value="+" readonly>
                <div style="color: red;" id="error_stirrer"></div>
            </div>
            <div class="ib bor" id="div_straws">
                <p>Трубочки</p>
                <input class="input btn" id="straws_dec" onclick="btn_dec('straws', 0, 50)" value="-" readonly>
                <input id="straws" step="50" min="0" max="150" readonly value="0">
                <input class="input btn" id="stirrer_inc" onclick="btn_inc('straws', 150, 50)" value="+" readonly>
                <div style="color: red;" id="error_straws"></div>
            </div>
            <div class="ib bor" id="div_collection">
                <p>Сумма инкассации</p>
                <input class="input input_long" type="number" name="collection" id="collection" min="0" placeholder="Сумма инкассации" required >
                <div style="color: red;" id="error_collection"></div>
            </div>
        </div>

    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script>
        let tg = window.Telegram.WebApp;
        let point = document.getElementById("point")
        let coffee = document.getElementById("coffee")
        let cream = document.getElementById("cream")
        let chocolate = document.getElementById("chocolate")
        let raf = document.getElementById("raf")
        let sugar = document.getElementById("sugar")
        let syrup_caramel = document.getElementById("syrup_caramel")
        let syrup_nut = document.getElementById("syrup_nut")
        let syrup_other = document.getElementById("syrup_other")
        let glasses = document.getElementById("glasses")
        let covers = document.getElementById("covers")
        let stirrer = document.getElementById("stirrer")
        let straws = document.getElementById("straws")

        tg.expand();
        tg.MainButton.text = "Завершить обслуживание";
        tg.MainButton.show();

        function onstart() {
            var options = '';
            {% for item in data %}
                options += '<option value="' + "{{ item.value }}" + '" />';
            {% endfor %};
            document.getElementById('points').innerHTML = options;
        };

        onstart();

        function btn_inc(id, max, step) {
            var result = parseInt(document.getElementById(id).value, 10)
            if (isNaN(result)) {
                result = -step;
            };
            result = result + step;
            if(result>max){
                result = max;
            };
            document.getElementById(id).value = result;
        };

        function btn_dec(id, min, step) {
            var result = parseInt(document.getElementById(id).value, 10)
            if (isNaN(result)) {
                result = step;
            };
            result = result - step
            if(result<min){
                result = min
            }
            document.getElementById(id).value = result
        };



        Telegram.WebApp.onEvent("mainButtonClicked", () => {
            document.getElementById("error_point").innerText = "";
            document.getElementById("error_coffee").innerText = "";
            document.getElementById("error_cream").innerText = "";
            document.getElementById("error_chocolate").innerText = "";
            document.getElementById("error_raf").innerText = "";
            document.getElementById("error_sugar").innerText = "";
            document.getElementById("error_syrup").innerText = "";
            document.getElementById("error_glasses").innerText = "";
            document.getElementById("error_covers").innerText = "";
            document.getElementById("error_stirrer").innerText = "";
            document.getElementById("error_collection").innerText = "";

            if (point.value == "") {
                document.getElementById("error_point").innerText = "Не выбрана точка";
                return;
            }

            if (isNaN(parseInt(coffee.value, 10))) {
                document.getElementById("error_coffee").innerText = "Укажите количество кофе";
                return;
            }

            if (isNaN(parseInt(cream.value, 10))) {
                document.getElementById("error_cream").innerText = "Укажите количество молока";
                return;
            }

            if (isNaN(parseInt(chocolate.value, 10))) {
                document.getElementById("error_chocolate").innerText = "Укажите количество шоколада";
                return;
            }

            if (isNaN(parseInt(raf.value, 10))) {
                document.getElementById("error_raf").innerText = "Укажите количество рафа";
                return;
            }

            if (isNaN(parseInt(sugar.value, 10))) {
                document.getElementById("error_sugar").innerText = "Укажите количество сахара";
                return;
            }

            if (isNaN(parseInt(glasses.value, 10))) {
                document.getElementById("error_glasses").innerText = "Укажите количество стаканов";
                return;
            }

            if (isNaN(parseInt(covers.value, 10))) {
                document.getElementById("error_covers").innerText = "Укажите количество крышек";
                return;
            }

            if (isNaN(parseInt(stirrer.value, 10))) {
                document.getElementById("error_stirrer").innerText = "Укажите количество размешивателей";
                return;
            }

            if (isNaN(parseInt(straws.value, 10))) {
                document.getElementById("error_straws").innerText = "Укажите количество трубочек";
                return;
            }

            if (isNaN(parseInt(collection.value, 10))) {
                document.getElementById("error_collection").innerText = "Не внесена сумма инкасации"
                return;
            }

            let data = {
                type: "service",
                point: point.value,
                coffee: coffee.value,
                cream: cream.value,
                chocolate: chocolate.value,
                raf: raf.value,
                sugar: sugar.value,
                syrup_caramel: syrup_caramel.checked,
                syrup_nut: syrup_nut.checked,
                syrup_other: syrup_other.checked,
                glasses: glasses.value,
                covers: covers.value,
                stirrer: stirrer.value,
                collection: collection.value,
                straws: straws.value,
            };

            tg.sendData(JSON.stringify(data));
            tg.close();
        });
    </script>
</body>
</html>
