{% load tz %}
<tr>
    <td align="center">
        {{ forloop.counter }}
    </td>
    <td>
        {% localtime off %}
        {{ service.date }}
        {% endlocaltime %}
    </td>
    <td>
        {{ service.service_man }}
    </td>
    <td>
        {{ service.point }}
    </td>
    <td align="center">
        {{ service.collection }}
    </td>
    <td align="center">
        {{ service.coffee }}
    </td>
    <td align="center">
        {{ service.cream }}
    </td>
    <td align="center">
        {{ service.chocolate }}
    </td>
    <td align="center">
        {{ service.raf }}
    </td>
    <td align="center">
        {{ service.sugar }}
    </td>
    <td align="center">
        {{ service.syrup_caramel }}
    </td>
    <td align="center">
        {{ service.syrup_nut }}
    </td>
    <td align="center">
        {{ service.syrup_other }}
    </td>
    <td align="center">
        {{ service.glasses }}
    </td>
    <td align="center">
        {{ service.covers }}
    </td>
    <td align="center">
        {{ service.stirrer }}
    </td>
    <td align="center">
        {{ service.straws }}
    </td>
</tr>
