{% load static %}
{% with request.resolver_match.view_name as view_name %}

  <nav class="navbar navbar-light">
      <ul class="nav nav-pills">
        {% if user.is_authenticated %}
        <li class="nav-item"> 
          <a class="nav-link"
          href="{% url 'points:service_list' %}">Обслуживания</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link"
          href="{% url 'points:repairs_list' %}">Ремонт</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link"
          href="{% url 'points:typeworkrepairs' %}">Виды ремонтных работ</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link"
          href="{% url 'points:fuelcompensations' %}">Компенсация ГСМ</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link"
          href="{% url 'points:audit_list' %}">Ревизия</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link link-light"
          href="{% url 'users:logout' %}">Выйти</a>
        </li>
        {% else %}
        <li class="nav-item"> 
          <a class="nav-link link-light"
          href="{% url 'users:login' %}">Войти</a>
        </li>
        {% endif %}
      </ul>
  </nav>   
{% endwith %}